<div class = "d-flex allign-items-center justify-content-center">
    <h1>Welcome to Scheduled Tweets</h1>
    <%#= @user.present? %>
</div>
<% if @user %>
    Logged in as <%= @user.email%>
    
    <%= button_to "Logout", logout_path, method: :delete %>
<% end %>